<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skradacz.audiometer" >

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.skradacz.audiometer.Global"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.skradacz.audiometer.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.skradacz.audiometer.ExaminationActivity"
            android:label="@string/title_activity_examination"
            android:parentActivityName="com.skradacz.audiometer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skradacz.audiometer.MainActivity" />
        </activity>
        <activity
            android:name="com.skradacz.audiometer.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.skradacz.audiometer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skradacz.audiometer.MainActivity" />
        </activity>
        <activity
            android:name="com.skradacz.audiometer.HowToActivity"
            android:label="@string/title_activity_how_to"
            android:parentActivityName="com.skradacz.audiometer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skradacz.audiometer.MainActivity" />
        </activity>
        <activity
            android:name="com.skradacz.audiometer.GraphActivity"
            android:label="@string/title_activity_graph"
            android:parentActivityName="com.skradacz.audiometer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skradacz.audiometer.MainActivity" />
        </activity>
    </application>

</manifest>
